{% extends 'base.html' %}

{% block page_name%}
    NBnB
{% endblock page_name%}

{% block content %}
    {% for room in rooms %}
        <h3> {{room.name}} / ${{room.price}} </h3>
    {% endfor %}

    <h5> 

        Page {{page}} of {{page_count}}

    </h5>
    {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">Previous</a>
    {% endif %}

    {% for page in page_range %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    {% if not page == page_count  %}
        <a href="?page={{page|add:1}}">Next</a>
    {% endif %}

{% endblock content%}